# ===================================================================
# Spring Boot configuration.
#
# This configuration will be overridden by the Spring profile you use
# For example: application-dev.yml if you use the "dev" profile.
# ===================================================================

# ===================================================================
# Standard Spring Boot properties.
# Full reference is available at:
# https://docs.spring.io/spring-boot/reference/features/profiles.html
# ===================================================================

spring.config.import: optional:configserver:http://ars-config-server:8888

logging:
  level:
    root: info
    com.dct.model: info
    com.dct.config: info
    com.ars.userservice: info
  charset:
    console: UTF-8
    file: UTF-8
  file:
    path: /app/logs

spring:
  cloud:
    config:
      uri: http://ars-config-server:8888
  datasource:
    driver-class-name: com.mysql.cj.jdbc.Driver
    url: jdbc:mysql://ars-mysql:3306/ars_user?useSSL=false&serverTimezone=UTC
    username: ${ARS_DB_USERNAME}
    password: ${ARS_DB_PASSWORD}
    hikari:
      poolName: Hikari
      # AllowPoolSuspension means pause connection when there is a problem
      # When the setting is false, the system will not allow to pause connections in pool
      # Helping to maintain continuous system operation even when there is a problem
      allow-pool-suspension: false
      auto-commit: false # Do not automatically commit transactions
      maximumPoolSize: 30 # Maximum database connections
      minimumIdle: 3 # At least connections will be kept idle, ready for use
      maxLifetime: 1200000 # Maximum time (20 minutes) that a connection can exist in the pool before being closed and recreated
      idleTimeout: 180000 # Maximum time (3 minutes) that a connection can be idle before being closed
      connectionTimeout: 200000 # Maximum time (3 minutes 20s) to wait for connection from pool when no connection is available
      leak-detection-threshold: 200000 # If a connection is not returned to the pool after 3 minutes 20s, it will be detected as a "leak"
      data-source-properties:
        cachePrepStmts: true # Enable caching to improve performance when using multiple identical statements
        prepStmtCacheSize: 100 # Prepared statement cache size. In this case, the cache can hold up to 100 statements
        prepStmtCacheSqlLimit: 1024 # Limits the maximum length (in bytes) of an SQL statement that can be cached
        useServerPrepStmts: true # Enable server-side prepared statements instead of client-side prepared statements
  sql:
    init:
      mode: never
  jpa:
    # Avoid causing LazyInitializationException if querying outside the scope of EntityManager or causing poor performance
    open-in-view: false
    hibernate:
      # Hibernate only checks if the current schema matches the entity
      # If it does not match, the application will not start
      # Do not make any changes to the schema
      ddl-auto: validate
    properties:
      hibernate:
        show_sql: true
        format_sql: false
        jdbc:
          time_zone: UTC
          ddl-auto: validate
  jackson:
    time-zone: UTC
  servlet:
    multipart:
      enabled: true
      # Maximum size of the entire HTTP request when uploading multipart data (including files and other parameters)
      max-request-size: 30MB
      # Maximum size for each file that a user can upload
      max-file-size: 10MB

server:
  servlet:
    session:
      cookie:
        # The session cookie that Spring Boot creates will have the HttpOnly attribute
        # Setting HttpOnly helps protect cookies from Cross-Site Scripting (XSS) attacks
        # Cookies will still be sent with each HTTP request (and can therefore be used for session authentication)
        # But Cookies cannot be accessed from the client side using JavaScript (e.g. via document.cookie)
        http-only: true
  port: 8080
  address: 0.0.0.0

# Eureka client configuration
eureka:
  client:
    service-url:
      defaultZone: http://ars-discovery-server:8761/eureka/
    healthcheck:
      enabled: true
    register-with-eureka: true
    fetch-registry: true
  instance:
    prefer-ip-address: true
    ip-address: ${spring.cloud.client.ip-address}
    instanceId: ${spring.application.name}:${spring.cloud.client.ip-address}:${server.port}

app:
  domain: localhost:8080 # API Gateway domain
  datasource: enabled
  jpa-auditing: enabled

  security:
    enabled-tls: disabled
    password-encrypt-factor: 12
    authentication-type: header_forwarded
    public-request-patterns:
      - /api/p/**
      - /login/**
      - /actuator/**
      - /favicon.ico
      - /api/internal/**
      - /
    external-service-public-request-patterns:
      - /api/internal/**
    jwt:
      access-token:
        base64-secret-key: ${ARS_ACCESS_TOKEN_KEY}
        validity: 300000 # 5 minutes
      refresh-token:
        base64-secret-key: ${ARS_REFRESH_TOKEN_KEY}
        validity: 3600000 # 1 hour
        validity-for-remember: 604800000 # 7 days
    oauth2:
      activate: enabled
      base-authorize-uri: /api/p/v1/users/oauth2/authorize # Add /{registrationId} (eg: /google) when calling from clients
      clients:
        - provider: google
          client-name: Demo Starter Google
          client-id: ${GOOGLE_CLIENT_ID}
          client-secret: ${GOOGLE_CLIENT_SECRET}
          scope:
            - https://www.googleapis.com/auth/userinfo.email
            - https://www.googleapis.com/auth/userinfo.profile
          authorization-uri: https://accounts.google.com/o/oauth2/auth
          redirect-uri: ${app.domain}/login/oauth2/code/google
          token-uri: https://oauth2.googleapis.com/token
          user-info-uri: https://openidconnect.googleapis.com/v1/userinfo
          username-attribute-name: sub

  http-client:
    rest-template: enabled
    default-connect-timeout: 5000 # 5s
    default-read-timeout: 5000    # 5s
    circuit-breaker:
      activate: enabled
      slowCallDurationThreshold: 2  # If request call > 2s → considered slow
      slowCallRateThreshold: 75     # If ≥75% of calls are delayed → open circuit
      slidingWindowSize: 5          # Use a sliding window of size 5 most recent calls to calculate the error
      minimumNumberOfCalls: 3       # Only start evaluating errors after at least 3 requests
      # When circuit breaker opens → after timeout → switches to half-open state, allowing 3 retry requests for testing
      permittedNumberOfCallsInHalfOpenState: 3
      waitDurationInOpenState: 10   # When circuit is open, wait 10s before allowing retry
      # After waitDurationInOpenState, automatically switch from open to half-open (no new request required)
      automaticTransitionFromOpenToHalfOpenEnabled: true
      failureRateThreshold: 50      # If error rate > 50% in slidingWindowSize → open circuit (disconnect)
      connect-timeout: 5000         # Overwrite `default-connect-timeout` value when Circuit Breaker is enabled
      read-timeout: 5000            # Overwrite `default-read-timeout` value when Circuit Breaker is enabled

      retry:
        activate: enabled
        retryMaxAttempts: 3
        retryWaitDuration: 1000

      time-limiter:
        activate: enabled
        cancel-running-future: true
        overall-timeout: 10000

  i18n:
    base-names:
      - classpath:i18n/messages
      - classpath:i18n/base_messages
    encoding: UTF-8

  resources:
    activate: enabled
    static-resource:
      patterns:
        - /**.html
        - /**.js
        - /**.css
        - /**.webp
        - /**.jpg
        - /**.jpeg
        - /**.gif
        - /**.svg
        - /**.png
        - /**.ico
        - /uploads/**
        - /file/**
        - /i18n/**
      locations:
        - classpath:/static/
    upload-resource:
      patterns:
        - /uploads/
      locations:
        - opt/uploads/users/
